header {
  padding: 156px 0 100px;
}

#projects {
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 10px 10px;
}

section {
  padding: 50px 0;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

